@font-face {
  font-weight: 100;
  font-family: "YekanBakh";
  src: url("../font/Yekan Bakh/yekan bakh en 02 thin.ttf");
}
@font-face {
  font-weight: 200;
  font-family: "YekanBakh";
  src: url("../font/Yekan Bakh/yekan bakh en 03 light.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "YekanBakh";
  src: url("../font/Yekan Bakh/yekan bakh en 04 regular.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "YekanBakh";
  src: url("../font/Yekan Bakh/yekan bakh en 05 medium.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "YekanBakh";
  src: url("../font/Yekan Bakh/yekan bakh en 06 bold.ttf");
}
@font-face {
  font-weight: 900;
  font-family: "YekanBakh";
  src: url("../font/Yekan Bakh/yekan bakh en 07 heavy.ttf");
}
///how ?
// @font-face {
//   font-weight: 300;
//   font-family: "YekanBakh";
//   src: url("../font/Yekan Bakh/YekanBakh-Black.ttf");
// }
// @font-face {
//   font-weight: 400;
//   font-family: "YekanBakh";
//   src: url("../font/Yekan Bakh/YekanBakh-ExtraBlack.ttf");
// }
// @font-face {
//   font-weight: 300;
//   font-family: "YekanBakh";
//   src: url("../font/Yekan Bakh/YekanBakh-ExtraBold.ttf");
// }
// @font-face {
//   font-weight: 400;
//   font-family: "YekanBakh";
//   src: url("../font/Yekan Bakh/YekanBakh-SemiBold.ttf");
// }
// @font-face {
//   font-weight: 100;
//   font-family: "YekanBakh";
//   src: url("../font/Yekan Bakh/YekanBakh-Thin.ttf");
// }
//Persian number
@font-face {
  font-weight: 400;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Black.ttf");
}
@font-face {
  font-weight: 700;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Bold.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-ExtraBlack.ttf");
}
@font-face {
  font-weight: 900;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-ExtraBold.ttf");
}
@font-face {
  font-weight: 200;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Light.ttf");
}
@font-face {
  font-weight: 300;
  font-family: "YekanBakh-FaNum";
  src: url("../font/Yekan Bakh/YekanBakhFaNum-Regular.ttf");
}
@font-face {
    font-weight: 800;
    font-family: "YekanBakh-FaNum";
    src: url("../font/Yekan Bakh/YekanBakhFaNum-SemiBold.ttf");
  }
  @font-face {
    font-weight: 300;
    font-family: "YekanBakh-FaNum";
    src: url("../font/Yekan Bakh/YekanBakhFaNum-Thin.ttf");
  }

  //English number

  @font-face {
    font-weight: 400;
    font-family: "YekanBakh-EnNum";
    src: url("../font/Yekan Bakh/YekanBakhNoEn-Black.ttf");
  }
  @font-face {
    font-weight: 700;
    font-family: "YekanBakh-EnNum";
    src: url("../src/assets/font/Yekan Bakh/YekanBakhNoEn-Bold.ttf");
  }
  @font-face {
    font-weight: 400;
    font-family: "YekanBakh-EnNum";
    src: url("../font/Yekan Bakh/YekanBakhNoEn-ExtraBlack.ttf");
  }
  @font-face {
    font-weight: 900;
    font-family: "YekanBakh-EnNum";
    src: url("../font/Yekan Bakh/YekanBakhNoEn-ExtraBold.ttf");
  }
  @font-face {
    font-weight: 200;
    font-family: "YekanBakh-EnNum";
    src: url("../font/Yekan Bakh/YekanBakhNoEn-Light.ttf");
  }
  @font-face {
    font-weight: 300;
    font-family: "YekanBakh-EnNum";
    src: url("../font/Yekan Bakh/YekanBakhNoEn-Regular.ttf");
  }
  @font-face {
      font-weight: 800;
      font-family: "YekanBakh-EnNum";
      src: url("../font/Yekan Bakh/YekanBakhNoEn-SemiBold.ttf");
    }
    @font-face {
      font-weight: 300;
      font-family: "YekanBakh-EnNum";
      src: url("../font/Yekan Bakh/YekanBakhNoEn-Thin.ttf");
    }
