// colors
$MainColor: #AB987A;
$TextColor: white;
// sizes
$TitleFontSize: 30px;
$FontSize: 18px;
// the style of display's elements in the page
$Width: 100%;
$Display: flex;
$Justify-content: space-between;
$Decoration : none;
// margins
$DefaultMargin: 0;
$DefaultPadding: 0;

@mixin navlist( $Align: center, $Width: 50%, $Content: space-evenly, $Direction: row){
    display: $Display;
    justify-content: $Content;
    align-items: $Align;
    width: $Width;
    padding: $DefaultPadding;
    flex-direction: $Direction;

}
@mixin Items($Color: #ccc2c2, $Decoration: $Decoration ){
    color: $Color;
    text-decoration: $Decoration;
}

@mixin button ($BackgroundColor: $MainColor, $TextColor: $TextColor, $BtnWidth: 124px, $BtnHeight: 41px, $FontSize: 16px, $BtnBorder: none) {
    background-color: $BackgroundColor;
    color: $TextColor;
    width: $BtnWidth;
    height: $BtnHeight ;
    font-size: $FontSize;
    border: $BtnBorder;

}

@mixin slider ($Align: center, $Direction: ltr, $Height: 100%) {
    width: $Width;
    text-align: $Align;
    color: $TextColor;
    font-size: $TitleFontSize;
    direction: $Direction;
    height: $Height;
}
@mixin swiperSlide ($BackgroungImg: url(../pic/1.png), $Repeat: round) {
    background-image: $BackgroungImg;
    background-repeat: $Repeat;
}

@mixin hr ($Width: 10%, $Border: 1px solid $MainColor) {
    width: $Width;
    border: $Border;
}

body,
html {
    direction: rtl;
    margin: $DefaultMargin;
    font-size: $FontSize;
    
}

// hero section
.hero {
  
    height: 720px;
}

// navbar menu section
.navigation {
    position: fixed;
    z-index: 9;
    width: $Width;
    display: $Display;
    justify-content: $Justify-content;
}

// nav list in the navbar menu section
.nav__list--right {
  @include navlist( )
}
// button and search icon in the navbar menu
.nav__list--left {
   @include navlist($Direction: row-reverse, $Width:30%)
}
//fontawsome search icon
.fa-search{
    color: $TextColor
}
// button in the navbar menu
.btn {
    @include button();
}

// items in the navbar menu
.nav__item {
 @include Items();
}
// home 
.active {
    text-decoration: underline !important;
    color: white
}
// swiper container        
.swiper {
    @include slider();
}
// swiper slide
.swiper__slide1{
    @include swiperSlide()
}
.swiper__slide2{
    @include swiperSlide($BackgroungImg: url(../pic/2.jpg))
}
.swiper__slide3{
    @include swiperSlide($BackgroungImg: url(../pic/3.jpg))
}

// items on the each slide
.swiper-slide{
    display: $Display;
    flex-direction: column;
    justify-content: center;
    align-items: center
}
// titles on the sildes
.swiper__title , .swiper__subtitle{
    margin: $DefaultMargin;
}

hr {
    @include hr();
}
        
.swiper__btn {
    @include button($BtnWidth: 200px, $BtnHeight: 59px, $FontSize: 24px)
}