// 1. variables and mixin
@import "base/variables";
@import "base/mixin";

// 2. fonts
@import "base/font";

// 3. sections
@import "sections/hero";
@import "sections/introduction";
@import "sections/product";
@import "sections/exhibition";
@import "sections/blog";
@import "sections/contactus";
@import "sections/footer";

@import "../components/button";
body,
html {
  direction: rtl;
  margin: $DefaultMargin;
  font-family: $TextFontFamily;
  font-size: $SmallFontsize;
  overflow-x: hidden;
  background-color: $BackgroundColor;
  // all a tag in the page
  a {
    text-decoration: $Decoration;
  }
  // all li tag in the page

  li {
    list-style: none;
  }
}

// all section tags on the page
section {
  margin-bottom: 100px ;
}
// all font awsome icon on the page
.fa {
  color: $MainColor;
}

@media (max-width: $breakpoint-mobile) {
  section {
    margin-bottom: 50px;
  }
}
