<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <title>Document</title>
  </head>
  <body>
    <div id="app">
      <div v-if="show">
        <p>{{name}} - {{job}} - {{age}}</p>
        <button v-on:click="age++">increase</button>
        <button v-on:click="age--">decrease</button>

        <div @click="changeTitle('Khatereh Tavana')">change text</div>
      </div>

      <button @click="showElements">
        <span v-if=show >hide elements</span>
        <span v-else> show elements</span>
      </button>
      <div v-show= show>showing....</div>
    </div>

    <script src="./app.js"></script>
  </body>
</html>
