//for display
@mixin display(
  $Display: flex,
  $Width: 100%,
  $Justify-content: space-evenly,
  $MaxWidth: 1302px
) {
  max-width: $MaxWidth;
  margin: auto;
  display: $Display;
  width: $Width;
  justify-content: $Justify-content;
  margin-bottom: 100px;
}
@mixin centerFlex(
  $Display: flex,
  $AlignItem: center,
  $Direction: column,
  $JustifyContent: center,
  $Lineheight: auto
) {
  display: $Display !important ;
  align-items: $AlignItem;
  flex-direction: $Direction;
  justify-content: $JustifyContent;
  line-height: $Lineheight;
}
//navbar menu
@mixin navlist(
  $Align: center,
  $Width: 30%,
  $Direction: row,
  $Gap: 2rem,
  $Padding: $DefaultPadding
) {
  display: $Display;
  align-items: $Align;
  width: $Width;
  padding: $Padding;
  flex-direction: $Direction;
  gap: $Gap;
}
// items on the navbar and
@mixin Items(
  $Color: #ccc2c2,
  $Decoration: $Decoration,
  $FontWeight: 300,
  $FontSize: 1em
) {
  font-weight: $FontWeight;
  font-size: $FontSize;
  color: $Color;
  text-decoration: $Decoration;
}
//for all the btn on the page
@mixin mainButton(
  $BackgroundColor: $MainColor,
  $WhiteColor: $WhiteColor,
  $BtnWidth: 124px,
  $BtnHeight: 41px,
  $FontSize: 1em,
  $FontWeight: 400,
  $BtnBorder: none,
  $Margin: 32px
) {
  background-color: $BackgroundColor;
  color: $WhiteColor;
  width: $BtnWidth;
  height: $BtnHeight;
  font-size: $FontSize;
  font-weight: $FontWeight;
  border: $BtnBorder;
  font-family: $TextFontFamily;
  margin: $Margin;
}
// btn without background
@mixin whiteButton(
  $BackgroundColor: $BackgroundColor,
  $TextColor: $MainColor,
  $BtnBorder: 2px solid $MainColor,
  $BtnWidth: 245px,
  $BtnHeight: 55px,
  $FontSize: 1.25em,
  $Fontweight: $MediumFontweight
) {
  background-color: $BackgroundColor;
  color: $TextColor;
  border: $BtnBorder;
  width: $BtnWidth;
  height: $BtnHeight;
  font-size: $FontSize;
  font-weight: $Fontweight;
  font-family: $TextFontFamily;
  margin-top: 40px;
}
//swiper slider
@mixin slider($Align: center, $Height: 100%) {
  width: $Width;
  text-align: $Align;
  color: $WhiteColor;
  height: $Height;
}
//each slide on the swiper
@mixin swiperSlide($BackgroungImg: url(../pic/1.png), $Repeat: round) {
  background-image: $BackgroungImg;
  background-repeat: $Repeat;
}
// all the line under text in the page
@mixin hr($Width: 10%, $Border: 1px solid $MainColor, $Margin: 0) {
  width: $Width;
  border: $Border;
  margin: $Margin;
}
