// colors
$BackgroundColor: whitesmoke;
$MainColor: #ab987a;
$SecondaryColor: #0F1626;
$WhiteColor: white;
// fonts setting
$TextFontFamily: "YekanBakh";
$FaFontfamily: "YekanBakh-FaNum";
$EnFontfamily: "YekanBakh-EnNum";
// font sizes
$XXLargeFontsize: 72px;
$XLargeFontsize: 56px;
$LargeFontsize: 32px;
$Fontsize: 24px;
$MediumFontsize: 18px;
$SmallFontsize: 16px;
// font weights
$BoldFontweight: 700;
$MediumFontweight: 400;
$RegularFontweight: 300;
$LightFontweight: 200;
// the style of display's elements in the page
$Position: relative;
$Width: 100%;
$Display: flex;
$Decoration: none;
// margins
$DefaultMargin: 0;
$DefaultPadding: 0;

// media query 
//breackpoints
$breakpoint-desktop3: 1024px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 425px;

// font size
$Mobile_XLargeFontsize : 46px;

