// colors
$BackgroundColor: whitesmoke;
$MainColor: #ab987a;
$SecondaryColor: #0F1626;
$WhiteColor: white;
// fonts setting
$TextFontFamily: "YekanBakh";
$FaFontfamily: "YekanBakh-FaNum";
$EnFontfamily: "YekanBakh-EnNum";
// font sizes
$XXLargeFontsize: 72px;
$XLargeFontsize: 56px;
$LargeFontsize: 32px;
$Fontsize: 24px;
$MediumFontsize: 18px;
$SmallFontsize: 16px;
// font weights
$BoldFontweight: 700;
$MediumFontweight: 400;
$RegularFontweight: 300;
$LightFontweight: 200;
// the style of display's elements in the page
$Position: relative;
$Width: 100%;
$Display: flex;
$Decoration: none;
// margins
$DefaultMargin: 0;
$DefaultPadding: 0;

// media query 
//breackpoints
$breakpoint-largescreen:1200px;// large laptop for setting by min-width
$breakpoint-smallscreen: 1200px; // small laptop for setting by max-width
$breakpoint-tablet: 993px; //tablet for setting by max-width
$breakpoint-largemobile: 767px; //for small tablet & large mobile max-width

$breakpoint-mobile: 426px; //mobile for max-width

//Font sizes
$smallscreen-fontsize: 12px;
$mobile-fontsize: 10px;
    


