// contact us section tag
.contactus {
    margin-bottom: 0;
  }
  // contact us section
  .contactus__container {
    background-image: url(../pic/aboutus.png);
    text-align: center;
    padding: 130px;
    p {
      font-size: $LargeFontsize;
      font-weight: $LightFontweight;
      color: $MainColor;
      margin: $DefaultMargin;
    }
    h3 {
      font-size: 48px;
      font-weight: $RegularFontweight;
      color: white;
      margin: $DefaultMargin;
      margin-bottom: 28px;
    }
    .cotactus__btn {
      @include mainButton(
        $BtnWidth: 219px,
        $BtnHeight: 55px,
        $FontSize: 20px,
        $FontWeight: $MediumFontweight,
        $Margin:0px,
      );
    }
  }
  
  // social media section
  .socialmedia__container {
    text-align: center;
    margin: 40px;
    p {
      font-size: $Fontsize;
      font-weight: $LightFontweight;
    }
    .socialmedia__icon {
      display: $Display;
      align-items: center;
      justify-content: center;
    }
    .icno__item {
      padding-left: 30px;
    }
    a {
      text-decoration: $Decoration;
      color: $MainColor;
      display: $Display;
      flex-direction: column;
      justify-content: center;
      background-color: #f8f2e8;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 24px;
    }
    span {
      color: black;
      font-size: 12px;
      font-weight: $RegularFontweight;
    }
  }
  