// exhibition section
.exhibition {
  background-color: #101a30;
  .exhibition__swiper {
    padding: 50px 0;
  }
  // the line under the text
  .exhibition__line {
    @include hr($Border: 1px solid white, $Margin: 24px, $Width: 80px);
  }
  // sub title on the exhibition section
  .exhibition__subtitle {
    color: #ffffff;
  }

  // wrapper on the exhibition section slider
  .exhibition__swiper--wrapper {
    align-items: center;
    transition-duration: 2000ms !important;
  }
  .exhibition__swiperbtn {
    color: white;
  }
  .exhibition__swiper__slide {
    width: 600px !important;

    img {
      width: 100%;
    }
  }
  .swiper-slide-active {
    transform: translate3d(0px, 0px, -103.025px) rotateX(0deg) rotateY(0deg)
      scale(1.25) !important;
    justify-content: center;
    // width: 800px !important;
    img {
      width: 100%;
      opacity: 1;
    }
  }
  .swiper-slide-next {
    justify-content: flex-start;
    opacity: 0.5;
  }
  .swiper-slide-prev {
    justify-content: flex-end;
    opacity: 0.5;
  }
  // bullet on the swiper pagination
  .swiper-pagination-bullet {
    background-color: $WhiteColor;
    opacity: 1;
    width: 12px;
    height: 12px;
  }
  //active bullet
  .swiper-pagination-bullet-active {
    background-color: $MainColor;
    width: 48px;
    border-radius: 7px;
  }
}

// *******************************************************media queris ******************************************************* //
//1. tv
@media (min-width: $breakpoint-xlargescreen) {
  .exhibition {
    font-size: $XLargecsreen-fontsize;
    //header
    .products__header {
      //header title
      .products__title {
        margin-top: 80px;
      }
      // exhibition text
      .exhibition__line {
        margin: 44px;
      }
      // exhibition subtitle
      .products__subtitle {
        margin-top: 44px;
      }
      .products__btn {
        margin-top: 80px;
        width: 345px;
        height: 85px;
      }
    }
    .exhibition__swiper {
      padding: 300px 0;
      // before and after slides
      .exhibition__swiper__slide {
        transform: translate3d(0px, 0px, -133.333px) rotateX(0deg) rotateY(0deg)
          scale(1.75) !important;
      }
      //active slides
      .swiper-slide-active {
        transform: translate3d(0px, 0px, -103.025px) rotateX(0deg) rotateY(0deg)
          scale(2.25) !important ;
      }

      .swiper-pagination-bullet {
        width: 22px;
        height: 22px;
      }
      .swiper-pagination-bullet-active {
        width: 88px;
        border-radius: 14px;
      }
    }
  }
}

//2. smal screen
@media (max-width: $breakpoint-smallscreen) {
  .exhibition {
    font-size: $smallscreen-fontsize;
    //button on the title
    .products__btn {
      width: 180px;
      height: 40px;
    }
    // .swiper-slide-active{
    //   width: 700px !important;
    // }
    // bullet under the slider
    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
    }
    // active bullet
    .swiper-pagination-bullet-active {
      width: 45px;
    }
  }
}

//3. tablet
@media (max-width: $breakpoint-tablet) {
  .exhibition {
    .exhibition__swiper {
      // before and after slides
      .exhibition__swiper__slide {
        transform: translate3d(0px, 0px, -133.333px) rotateX(0deg) rotateY(0deg)
          scale(0.75) !important;
      }
      //active slides
      .swiper-slide-active {
        transform: translate3d(0px, 0px, -103.025px) rotateX(0deg) rotateY(0deg)
          scale(1) !important ;
      }
    }
  }
}
