// footer section
footer {
  background-color: #172036;
  padding: 80px 0 10px;
  // container of the list
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: white;
    margin-bottom: 80px;
    // items on the list
    .footer__list__box {
      padding: $DefaultPadding;
      margin: $DefaultMargin;
      // titles of each items
      .footer__list__title {
        font-size: 1.5em;
        font-weight: $MediumFontweight;
        margin: $DefaultMargin;
      }
      // second title on the second column
      .product__title {
        margin-top: 16px;
      }
      // items on the list
      li {
        font-size: 1em;
        font-weight: $RegularFontweight;
        margin-top: 8px;
      }
      // hr tags
      hr {
        margin: 0 !important;
        margin-bottom: 16px !important;
      }
      .quickaccess__hr {
        @include hr($Width: 80px);
      }
      .footer__list__hr1 {
        @include hr($Width: 24px);
      }
      .footer__list__hr2 {
        @include hr($Width: 40px);
      }
      .chanel__hr {
        @include hr($Width: 96px);
      }
    }
    // address column on the footer
    .footer__address_box {
      .address__txt {
        margin: 40px 0;
        width: 85%;
      }
    }

    // logo in the footer
    // logo container
    .logo__img__box {
      width: 80px;
      height: 80px;
      background-color: white;
      border-radius: 50%;
      margin-bottom: 24px;
      img {
        display: flex;
        margin: auto;
        padding: 10px;
      }
    }
  }

  //  the line after the lists
  .footer__hr {
    @include hr($Width: 90%, $Margin: auto);
  }

  // the last text on the footer
  .last__text {
    text-align: center;
    margin: 24px auto;
    width: 310px;
    color: $WhiteColor;
  }
}

// *******************************************************media queris ******************************************************* //
// 1. xlarge screen and Tv
@media (min-width: $breakpoint-xlargescreen) {
  .footer {
    font-size: $XLargecsreen-fontsize;
    .footer__container {
      // logo's div
      .logo__img__box {
        width: 120px;
        height: 120px;
        // logo on the div
        img {
          width: 60%;
        }
      }
    }
    // line under the list
    .footer__hr {
      width: 92%;
    }
    // text on the bottom
    .last__text{
      width: 20%;
    }
  }
}
// 2.smal laptop
@media (max-width: $breakpoint-smallscreen) {
  .footer {
    font-size: $smallscreen-fontsize;
    // container of all footer
    .footer__container {
      justify-content: space-evenly;
      margin-bottom: 50px;
      // address column on the footer
      .footer__address {
        width: 30%;
      }
      .footer__address_box {
        //pinoox logo container
        .address__logo {
          width: 30%;
          img {
            width: 100%;
          }
        }
        .address__txt {
          margin: 40px 0;
          width: 78%;
        }
      }
    }
    .last__text{
      width: 28%;
    }
  }
}
// 3. tablet
@media (max-width: $breakpoint-tablet) {
  .footer {
    font-size: $tablet-fontsize;

    .footer__container {
      // address section
      .footer__address {
        width: 30%;
      }
      // logo list section
      .logo__img__box {
        width: 70px;
        height: 70px;
      }
    }
    .last__text{
      width: 32%;
    }
  }
}
// 4. mobile
@media (max-width: $breakpoint-mobile) {
  .footer {
    font-size: $mobile-fontsize;
    .footer__container {
      margin-right: 4rem;
      row-gap: 3rem;
      .footer__list {
        width: 50%;
      }
      // icon container
      .footer__logo {
        width: 100%;
      }
      // icons
      .footer__logo__box {
        display: flex;
        gap: 40px;
        width: 100%;
      }
    }
    .last__text{
      width: 50%;
    }
  }
}
// 5. small mobile
@media (max-width: 376px) {
  .footer {
    .footer__container {
      margin-right: 3rem;
      //logo's container
      .footer__logo__box {
        gap: 45px;
        .logo__img__box {
          width: 65px;
          height: 65px;
          img {
            padding: 0;
          }
        }
      }
    }
    .last__text{
      width: 57%;
    }
  }
}
//6. very smll mobile
@media (max-width: 321px) {
  .footer {
    .footer__container {
      .footer__logo__box {
        gap: 25px;
        .logo__img__box {
          width: 60px;
          height: 60px;
        }
      }
    }
    .last__text{
      width: 65%;
    }
  }
}
