// footer section
footer {
  background-color: #172036;
  padding: 80px 0 10px;
  p {
    font-size: 1em;
    font-weight: $RegularFontweight;
    margin: $DefaultMargin;
    color: white;
    width: 310px;
  }

  // container of the list
  .footer__container {
    display: flex;
    justify-content: space-around;
    color: white;
    margin-bottom: 80px;
    // items on the list
    .footer__list {
      padding: $DefaultPadding;
      margin: $DefaultMargin;
      // titles of each items
      .listfooter__title {
        font-size: 1.5em;
        font-weight: $MediumFontweight;
        margin: $DefaultMargin;
      }
      // second title on the second column
      .product__title {
        margin-top: 16px;
      }
      // items on the list
      li {
        font-size: 1em;
        font-weight: $RegularFontweight;
        margin-top: 8px;
      }
      // hr tags
      hr {
        margin: 0 !important;
        margin-bottom: 16px !important;
      }
      .quickaccess__hr {
        @include hr($Width: 80px);
      }
      .footerblog__hr {
        @include hr($Width: 24px);
      }
      .footerproduct__hr {
        @include hr($Width: 40px);
      }
      .chanel__hr {
        @include hr($Width: 96px);
      }
    }
    // address column on the footer
    .footeraddress__list {
      .footer__address {
        margin: 40px 0;
        width: 85%;
      }
    }

    // logo in the footer
    // logo container
    .footerdiv__logo {
      width: 80px;
      height: 80px;
      background-color: white;
      border-radius: 50%;
      margin-bottom: 24px;
      img {
        display: flex;
        margin: auto;
        padding: 10px;
      }
    }
  }
  //  the line after the lists
  .footer__hr {
    @include hr($Width: 90%, $Margin: auto);
  }

  // the last text on the footer
  .last__text {
    text-align: center;
    margin: 24px auto;
  }
}

// *******************************************************media queris ******************************************************* //
@media (max-width: $breakpoint-smallscreen) {
  .footer {
    font-size: $smallscreen-fontsize;
    // container of all footer
    .footer__container {
      justify-content: space-evenly;
      margin-bottom: 50px;
      // address column on the footer
      .address__container {
        width: 30%;
      }
      .footeraddress__list {
        //pinoox logo container
        .footer__logo__box {
          width: 30%;
          img {
            width: 100%;
          }
        }
        .footer__address {
          margin: 40px 0;
          width: 80%;
        }
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .footer {
    font-size: $tablet-fontsize;

    .footer__container {
      // address section
      .address__container {
        width: 30%;
      }
      // logo list section
      .footerdiv__logo {
        width: 70px;
        height: 70px;
      }
    }
  }
}
