//introduction section
.introduction {
  @include display($Justify-content: space-around);
  max-width: clamp(10vw, 100%, 85vw);

  // right side items on the introduction section
  .introduction__container {
    @include navlist($Direction: column, $Align: none, $Width: 45%);
  }
  // container for image on the introduction section
  .introductionimg__container {
    position: relative;
    width: auto;
  }
  //ul list
  ul {
    line-height: 80px;
    margin: $DefaultMargin;
    padding: $DefaultPadding;
  }
  //items in the list
  li {
    display: $Display;
    align-items: center;
  }

  // background-color of icons
  .introduction__background {
    background: rgba(171, 152, 122, 0.1);
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }
  //   icons on the introduction section
  .introduction__icon {
    width: 40px;
    height: 40px;
    padding: 15px;
  }

  //the text on the introduction section
  span {
    font-size: 2em;
    font-weight: $RegularFontweight;
    margin-right: 24px;
  }

  //just numbers
  strong {
    font-family: $FaFontfamily;
    font-size: 1.75em;
    font-weight: $BoldFontweight;
  }
  //button on the itroduction section
  button {
    @include whiteButton($BtnWidth: 205px);
  }
  //   image on the introduction section
  .introduction__img {
    height: 500px;
    width: 100%;
  }
  // border on the image
  .img__border {
    width: 645px;
    height: 448px;
    border: 1px solid #ab987a;
    position: absolute;
    margin: 25px 29px;
  }
}

// *******************************************************media queris ******************************************************* //

//1.desktop
@media (min-width: $breakpoint-largescreen) and (max-width: 1490px) {
  .introduction {
    // border around image
    .img__border {
      width: 626px;
    }
  }
}
@media (max-width: $breakpoint-smallscreen) {
  .introduction {
    font-size: 14px;
    // list item
    .introduction__container {
      gap: 1rem;
    }
    ul {
      line-height: 60px;
    }
    // backgound of icons
    .introduction__background {
      width: 50px;
      height: 50px;
    }
    // icons on the section
    .introduction__icon {
      width: 30px;
      height: 30px;
      padding: 10px;
    }

    // about us button
    button {
      @include whiteButton(
        $BtnWidth: 130px,
        $BtnHeight: 40px,
        $FontSize: 1.125em
      );
      margin-top: 0;
    }
    // border of image
    .img__border {
      width: 413px;
      height: 298px;
      margin: 15px 25px;
    }
    // image
    .introduction__img {
      height: 330px;
    }
  }
}
//todo : check this part again
// 2.Tablet
@media (max-width: $breakpoint-tablet) {
  .introduction {
    flex-direction: column;
    font-size: $smallscreen-fontsize;
    max-width: none;
    // list items container
    .introduction__container {
      width: 100%;
      align-items: center;
      gap: 0;
    }
    // ul list
    .introduction__list {
      display: flex;
      flex-wrap: wrap;
      padding: 0 5rem;
    }
    // items on the list
    .introduction__items {
      width: 50%;
    }
    // background of icons
    .introduction__background {
      width: 60px;
      height: 60px;
    }
    // icons
    .introduction__icon {
      width: 40px;
      height: 40px;
      padding: 11px;
    }
    // about us button on the list
    button {
      margin-top: 2rem;
      width: 180px;
      height: 45px;
    }

    // image container
    .introductionimg__container {
      width: auto;
      margin: 3rem 5rem;
    }
    // border around the image
    .img__border {
      width: 556px;
      height: 401px;
    }
    .introduction__img {
      width: 100%;
      height: auto;
    }
  }
}
// 3.largemobile
@media (max-width: $breakpoint-largemobile) {
  .introduction {
    font-size: $mobile-fontsize;
    // background of icons
    .introduction__background {
      width: 50px;
      height: 50px;
    }
    // icons
    .introduction__icon{
      width: 30px;
      height: 30px;
    }
    .img__border {
      width: 404px;
      height: 293px;
    }
    // span tag for number
    .introduction__span {
      font-size: 1.5em;
    }
  }
}
// 4.mobile
@media (max-width: $breakpoint-mobile) {
  .introduction {
    flex-direction: column;
    font-size: $mobile-fontsize;
    max-width: none;
    // list items container
    .introduction__container {
      width: 100%;
      align-items: center;
      gap: 0;
    }
    // list of items
    .introduction__list {
      display: flex;
      flex-wrap: wrap;
      padding: 0 1rem;
    }
    // items
    .introduction__items {
      width: 50%;
    }
    // background of icons
    .introduction__background {
      width: 40px;
      height: 40px;
    }
    .introduction__icon {
      width: 20px;
      height: 20px;
      padding: 10px;
    }
    // span tag for number
    .introduction__span {
      margin-right: 1rem;
      font-size: 1.25em;
    }

    // about us button on the list
    button {
      margin-top: 1rem;
      width: 119px;
      height: 33px;
    }

    // image container
    .introductionimg__container {
      width: auto;
      margin: 2rem;
    }
    // border around the image
    .img__border {
      width: -webkit-fill-available;
      height: -webkit-fill-available;
    }
    .introduction__img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 350px) {
  // ul list
  .introduction__list {
    flex-wrap: nowrap !important;
    flex-direction: column;
    width: 100%;
    align-items: center;
    line-height: 60px !important;
  }

  .introduction__items {
    width: 60% !important;
  }
}
